@use "../../../styles/globals.module.scss";

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.labelLinkContainer {
  display: flex;
  justify-content: space-between;
  a {
    color: globals.$primary-color;
    text-decoration: none;
    font-weight: 700;
  }
}

.label {
  font-size: 0.825rem;
  width: fit-content;
  font-weight: 600;
}

.input {
  background-color: white;
  color: globals.$black;
  padding: 1rem;
  border: 1px solid globals.$input-border-color;
  border-radius: 0.4rem;
  box-shadow: 0 0px 6px -2px rgb(0, 0, 0, 0.3);
  font-size: 1rem;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: globals.$secondary-color;
  }
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}

.errorMessage {
  color: globals.$black;
  font-size: 0.9rem;
}

.disabled {
  background-color: globals.$disabled-input-background-color;
}
