@use "../../styles/globals.module.scss";

.button {
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1rem;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  align-items: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.primary {
  background-color: globals.$secondary-color;
  color: globals.$primary-color;
  border: 1px solid globals.$secondary-color;
}

.secondary {
  background-color: globals.$primary-color;
  color: globals.$secondary-color;
  border: 1px solid globals.$secondary-color;
}
