@use "../styles/globals.module.scss";

.main {
  position: relative;
  overflow: hidden;
  width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  min-height: calc(100vh - globals.$navbigation-bar-height - globals.$footer-height);
  max-height: globals.$max-content-height;
}

@media (max-width: 1080px) {
  .main {
    width: 90%;
  }
}
