.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.simulator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.heading {
  font-size: 1.6rem;
}
