@use "../../styles/globals.module.scss";

.table {
  border: 1px solid #adadad;
  border-radius: 0.4rem;
}

.tableHead {
  tr {
    th {
      text-align: start;
      padding: 0.5em;
    }
  }
}

.tableBody {
  tr {
    td {
      text-align: start;
      padding: 0.5em;
    }
  }
}
