.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.mainButtons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.mainButtonsRow {
  grid-template-columns: 1fr 3.5rem;
}
